%div{:class => 'login-background-image'}
%div{:class => 'row vertical-offset panel-animate'}
  %div{:class => 'col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3'}
    %div{:class => 'panel panel-default'}
      %div{:class => 'panel-body'}
        = form_tag "/casting", method: "post" do
          = label_tag :'キャスティングを始めよう'
          = text_field_tag :name, '', class: 'form-control', placeholder: 'ニックネーム'
          %div{:class => 'form-group'}
            = label_tag :gender, 'Gender', class: 'label-gender'
            %label{:class => 'radio'}
              %input{:type => 'radio', :name => 'gender', :value => 'male', :checked => true} male
            %label{:class => 'radio'}
              %input{:type => 'radio', :name => 'gender', :value => 'female', :checked => false} female
            %br
            = submit_tag :"CAST NOW", class: 'btn btn-lg btn-success btn-block'
:javascript
    $(function(){
      $('.panel-animate').animate({
        'opacity' : '1.0', 'padding-top' : '100px'
      },1000);
    });