.login-background-image
.row.vertical-offset.panel-animate
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-body
        - if @user.present? and @user.errors.any?
          - @user.errors.full_messages.each do |msg|
            %p= msg
        = form_for @user, :url => { :action => 'casting' } do |f|
          = f.label :name, 'キャスティングを始めよう'
          = f.text_field :name, class: 'form-control', placeholder: 'ニックネーム'
          .form-group
            = f.label :gender, 'Gender', class: 'label-gender'
            %label{:class => 'radio'}
              = f.radio_button 'gender', 'male', { :checked => true }
              male
            %label{:class => 'radio'}
              = f.radio_button 'gender', 'female'
              female
            %br
            = f.submit :"CAST NOW", class: 'btn btn-lg btn-success btn-block'
:javascript
  $(function(){
    $('.panel-animate').animate({
      'opacity' : '1.0', 'padding-top' : '100px'
    },1000);
  });
