.login-background-image
.row.vertical-offset.panel-animate
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-body.text-center
        - if @user.present? and @user.errors.any?
          - @user.errors.full_messages.each do |msg|
            %p= msg
        =form_for @user, :url => { :action => 'casting' } do |f|
          = f.label :name, '今すぐトークを始めよう！'
          = f.text_field :name, class: 'form-control', placeholder: 'ニックネーム'
          %span
            2文字以上10文字以内で入力してね
          .form-group 
            %label.radio-inline
              = f.radio_button 'gender', 'male',{ :checked => true }
              .fa.fa-male.fa-5x.btn-primary
            %label.radio-inline
              = f.radio_button 'gender', 'female'
              .fa.fa-female.fa-5x.btn-danger
            %br
            %br
            = f.submit "CAST NOW", id: 'submit', class: 'btn btn-lg btn-success btn-block'
:javascript
    $(function(){
      view.animatePanel();
      view.checkForm();
    });

  var view = function (){};

  //-----------------------------------
  // パネルデフォルト表示
  //-----------------------------------
  view.animatePanel = function(){
    $('.panel-animate').animate({
      'opacity' : '1.0', 'padding-top' : '100px'
    },1000);
  }

  //-----------------------------------
  // name入力後にボタンをenable化
  //-----------------------------------
  view.checkForm = function() {
    var test = $('#submit').prop('disabled', true);

    $('#user_name').on('keydown keyup keypress change', function(e){
      if ($(this).val().length < 2){
        $('#submit').prop('disabled', true);
      }else{
        $('#submit').prop('disabled', false);
      }
    });
  }
  
